data/
.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc
*.pkl
*.pt
*.pth
*.pyd
*.pyo

# ==============================
# Virtual Environments
.venv/
.env/

# ==============================
# FOR PROJECTS
runs/
.gif
.npy
.log
.csv
.json